<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.webxmsj.chatgpt-alfred</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict/>
    <key>createdby</key>
    <string>webxmsj</string>
    <key>description</key>
    <string>An alfred tool that uses chatgpt</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>chatgpt-alfred</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>gpt</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>1</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>询问中</string>
          <key>script</key>
          <string>./index '{query}'</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>咨询chatgpt</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>F59B3122-1FEA-4A98-89C3-59048BA203F5</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>一个支持在alfred中使用chatgpt的小工具</string>
    <key>uidata</key>
    <dict>
      <key>F59B3122-1FEA-4A98-89C3-59048BA203F5</key>
      <dict>
        <key>xpos</key>
        <integer>115</integer>
        <key>ypos</key>
        <integer>120</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array/>
    <key>variables</key>
    <dict>
      <key>OPENAI_API_KEY</key>
      <string>xxx</string>
    </dict>
    <key>variablesdontexport</key>
    <array>
      <string>OPENAI_API_KEY</string>
    </array>
    <key>version</key>
    <string>1.0</string>
    <key>webaddress</key>
    <string>https://www.webxmsj.com</string>
  </dict>
</plist>